.action-block1 {
  padding: 4rem 0;
  
  .tier1 {
    
    h2 {
      color: map-get($pink, alt);
      font-weight: 300;
      letter-spacing: -0.5px;
      font-size: 3rem;
      line-height: 3rem;
      margin-bottom: 1.2rem;

      @include breakpoint(small down){
        br {
          display: none;
        }
      }
    }
    p {
      color: $medium-gray;
    }

    @include breakpoint(small down){
      img {
        margin-top: 1rem;
      }
    }
    
    button {
      background-color: map-get($pink, alt);
      font-size: 1.2rem;

      a {
        color: #fff;
        padding: 1rem;
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.action-block2 {
  background-color: $vlight-gray;
  padding: 3rem 0 4rem;
  
  .tier2 {
    h2 {
      color: $green;
      font-size: 4rem;
      margin-bottom: 2rem;
      font-weight: 300;
    }
    
    h3 {
      color: $green;
      font-weight: 300;
      letter-spacing: -0.5px;
      font-size: 2rem;
      line-height: 2rem;
      margin-bottom: 1.2rem;
      position: relative;

      &::after {
        font-family: "Font Awesome 5 Pro";
        content: "\f061";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
      }

      @include breakpoint(small down){
        br {
          display: none;
        }
      }
    }
    p {
      color: $medium-gray;
      font-size: 1rem;
      line-height: 1.2rem;
      padding-right: 1rem;
    }
  }
}