.testimonials-block {
  background-color: map-get($pink, alt);
  padding: 3rem 0;

  .cell {
    background-color: $white;
    padding: 2rem 4rem;

    @include breakpoint(small down){
      padding: 2rem 1rem;
    }
  }
  h2 {
    color: map-get($pink, alt);
  }
  p {
    font-weight: 400;
    color: #777;
  }

  &.orange_version {
    background-color: #fff;
    padding: 3rem 0 3rem;

    .cell {
      background-color: map-get($pink, alt);
    }

    hr {
      border-color: #fff;
    }
    h2 {
      color: #fff;
    }
    p {
      color: #fff;
      font-weight: 400;
      line-height: 1.75;
      
      a {
        color: #fff;
        text-decoration: underline;
        &:hover {
          color: #eee;
        }
      }
    }
  }
}


footer {
  
  .inner-footer {

    p, li {
      font-size: 0.875rem;

      
      @include breakpoint(small down){
        font-size: 0.875rem;
      }
    }

    .menu {
      float: right;

      li {
        padding-left: 1rem;

        &.social {

          &.fb {
            a {
              &::before {
                font-family: "Font Awesome 5 Brands";
                content: "\f082";
                padding-right: 6px;
              }
            }
          }
          &.tw {
            a {
              &::before {
                font-family: "Font Awesome 5 Brands";
                content: "\f081";
                padding-right: 6px;
              }

            }
          }
          &.ig {
            a {
              &::before {
                font-family: "Font Awesome 5 Brands";
                content: "\f16d";
                padding-right: 6px;
              }
            }
          }
        }

        @include breakpoint(small down){
          width: 100%;
          text-align: right;
        }
      }

      a {
        padding: 0;
        line-height: 1.6;
        color: $dark-gray;

        @include breakpoint(small down){
          padding: 0;
          line-height: 1.6;
        }
      }
      .active {
        a {
          background: none;
        }
      }
    }
  }
}