.letter-block {
  padding: 4rem 0;

  h2 {
    color: $orange;
    font-size: 4rem;
    font-weight: 300;
  }
  p {
    color: $medium-gray;
    font-size: 1.2rem;
    padding-bottom: 2rem;
  }

  .hidden-date {
    display: none;
  }

  .letterbox {
    position: relative;
    background: $vlight-gray;
    color: $medium-gray;
    padding: 1rem;
    font-size: 1.4rem;
    overflow: auto;

    .instructions {
      color: $orange;

      @include breakpoint(small down){
        font-size: 1.2rem;
        width: 60%;
      }
    }

    .letterreset {
      position: absolute;
      font-size: 1rem;
      background-color: $orange;
      padding: 0.5rem;
      top: 0;
      right: 0;
      color: $white;
    }
    
    .editabletxt {
      padding: 1rem;
      background-color: rgba(255,255,255,1);

      &:focus {
        border: none;
        outline: none;
      }

      p {
        color: $dark-gray;
        line-height: 2.4rem;
        margin: 0;

        span {
          border-bottom: 1px rgba(167,76,142,0.5) dashed;
        }
      }
    }
  }

  .copytxt, .printtxt, .govlookup {
    background: $orange;
    color: $white;
    border-radius: 6px;
    font-size: 0.85rem;
    padding: 4px 8px;
    margin-right: 1rem;
    cursor: pointer;

    &:hover {
      background: rgba(240,93,37,0.85);
    }
    &:active {
      background: #c14c20;
    }
  }
  .copytxt, .printtxt {
    float: right;

    @include breakpoint(small down){
      float: right;
      margin: 1rem 0 0 0;
      display: inline-block;
    }
  }
  .printtxt {
    @include breakpoint(small down){
      margin-bottom: 1.5rem;
    }
  }
  .govlookup {
    background: $green;
    display: inline-block;
    margin: 0;

    @include breakpoint(small down){
      float: none;
      margin-top: 1rem;
    }

    &:hover {
      background: rgba(129,164,37,0.85);
    }
    &:active {
      background: #69861f;
    }
  }
  .lookupform {
    display: none;
  }

  .copyfunc {
    display: none;
    position: absolute;
    background: $green;
    color: white;
    padding: 2rem 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  }

  form.legislators {
    .le_head {
      padding: 0;
      font-size: 1.2rem;
      font-weight: 300;
      margin: 0;
      color: #000;
    }
    input {
      display: inline-block;
      border: 0;
      margin: 0;

      &.submit {
        display: inline-block;
        margin: 0;
        padding: 0;
        background: $orange;
        border: none;
        color: #fff;
        border-radius: 6px;
        line-height: 0;
        height: 2.4375rem;
        vertical-align: top;
      }
    }
    fieldset {
      margin-bottom: 1rem;
    }
    .congress_example {
      display: none;
    }
    .legislators_list {
      padding-top: 1rem;
      border: none;

      .legislator_block {
        width: 50%;
        float: left;
        padding: 1rem;
        min-height: 300px;

        @include breakpoint(small down){
          width: 100%;
          min-height: 300px;
          padding: 0;
        }

        h3 {
          font-size: 1.2rem;
          margin: 0;
        }
        .legislator-pic {
          float: none;
        }

        .legislator-contact {
          list-style-position: inside;
          margin: 0 0 1rem;
          
          li {
            list-style-type: none;
            font-size: 0.875rem;

            @include breakpoint(small down){
              list-style-type: none;
              font-size: 0.875rem;
            }
          }
        }
      }
    }
    .notice {
      font-size: .875rem;
      font-weight: 700;
      padding: 1rem 2rem;
      background: rgba(255,0,0,0.5);
      color: $white;
      border-radius: 6px;
      margin-top: 1rem;
    }
  }
}