.letter-block {
  padding: 4rem 0;

  h2 {
    color: $orange;
    font-size: 4rem;
    font-weight: 300;
  }
  p {
    color: $medium-gray;
    font-size: 1rem;
    padding-bottom: 2rem;
  }

  .hidden-date {
    display: none;
  }

  .letterbox {
    position: relative;
    background: $vlight-gray;
    color: $medium-gray;
    padding: 1rem;
    font-size: 1.4rem;
    overflow: auto;

    .instructions {
      color: $orange;
      font-size: 1.2rem;

      @include breakpoint(small down){
        width: 60%;
      }
    }

    .letterreset {
      position: absolute;
      font-size: 1rem;
      background-color: $light-gray;
      padding: 0.5rem;
      top: 0;
      right: 0;
      color: $medium-gray;

      &:hover {
        color: $white;
        background-color: $orange;
      }
    }
    
    .editabletxt {
      padding: 1rem;
      background-color: #f2f2f2;

      &:focus {
        border: none;
        outline: none;
        background-color: rgba(255,255,255,1);

        p {
          span {
            border-bottom: 1px rgba(167,76,142,0.5) dashed;
          }
        }
      }

      p {
        color: $dark-gray;
        line-height: 2rem;
        font-weight: 100;
        margin: 0;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  .copytxt, .govlookup {
    background: $orange;
    color: $white;
    border-radius: 6px;
    font-size: 0.85rem;
    padding: 4px 8px;
    margin-right: 1rem;
    cursor: pointer;

    &:hover {
      background: rgba(240,93,37,0.85);
    }
    &:active {
      background: #c14c20;
    }
  }
  .copytxt {
    float: right;

    @include breakpoint(small down){
      float: right;
      margin: 1rem 0 0 0;
      display: inline-block;
    }
  }
  .govlookup {
    background: $green;
    display: inline-block;
    margin: 0;

    @include breakpoint(small down){
      float: none;
      margin-top: 1rem;
    }

    &:hover {
      background: rgba(129,164,37,0.85);
    }
    &:active {
      background: #69861f;
    }
  }
  .lookupform {
    display: none;
  }

  .copyfunc {
    display: none;
    position: absolute;
    background: $green;
    color: white;
    padding: 2rem 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  }

  form.legislators {
    .le_head {
      padding: 0;
      font-size: 1.2rem;
      font-weight: 300;
      margin: 0;
      color: #000;
    }
    input {
      display: inline-block;
      border: 0;
      margin: 0;

      &.submit {
        display: inline-block;
        margin: 0;
        padding: 0;
        background: $orange;
        border: none;
        color: #fff;
        border-radius: 6px;
        line-height: 0;
        height: 2.4375rem;
        vertical-align: top;
      }
    }
    fieldset {
      margin-bottom: 1rem;
    }
    .congress_example {
      display: none;
    }
    .legislators_list {
      padding-top: 1rem;
      border: none;

      .legislator_block {
        width: 50%;
        float: left;
        padding: 1rem;
        min-height: 300px;

        @include breakpoint(small down){
          width: 100%;
          min-height: 300px;
          padding: 0;
        }

        h3 {
          font-size: 1.2rem;
          margin: 0;
        }
        .legislator-pic {
          float: none;
        }

        .legislator-contact {
          list-style-position: inside;
          margin: 0 0 1rem;
          
          li {
            list-style-type: none;
            font-size: 0.875rem;

            @include breakpoint(small down){
              list-style-type: none;
              font-size: 0.875rem;
            }
          }
        }
      }
    }
    .notice {
      font-size: .875rem;
      font-weight: 700;
      padding: 1rem 2rem;
      background: rgba(255,0,0,0.5);
      color: $white;
      border-radius: 6px;
      margin-top: 1rem;
    }
  }
}

.letter-requirements {
  padding: 0 1rem 1rem;

  .ltr-sender {
    label {
      font-weight: 100;
      font-size: 1rem;
      color: $medium-gray;

      sup {
        color: #ff0000;
      }
    }

    input {
      border: 1px solid $light-gray;
    }

    .letter-req {
      font-size: 0.85rem;
      font-weight: 100;
      margin-bottom: 1rem;

      sup {
        color: #ff0000;
      }
    }

    .acknowledgment {
      display: inline-block;
      vertical-align: top;
      padding: 1rem;

      p {
        font-size: .75rem;
        padding: 0.5rem 0;
        margin: 0;
      }
    }
  }

  .submit_btn_letter {
    margin-top: 1rem;
    padding: 0.75rem 1.25rem;
    font-size: 1.2rem;
    text-align: center;

    &.inactive {
      cursor: not-allowed;
      background: $light-gray;
    }

    &.active {
     cursor: pointer; 
     background: $green;
     color: $white;
    }
  }
}

.printtxt {
  background: $dark-gray;
  display: inline-block;
  color: $white;
  font-size: 1.1rem;
  padding: 10px 18px;
  margin: 1rem 0 0;
  cursor: pointer;

  &:hover {
    background: rgba(240,93,37,0.85);
  }
  &:active {
    background: #c14c20;
  }
}
.printtxt {
  @include breakpoint(small down){
    margin: 1rem 0 1.5rem 0;
    display: inline-block;
  }
}

.completed-letter {
  display: none;
  padding: 0 1rem;

  hr {
    border-color: $light-gray;
  }
  p {
    font-weight: 300;
    
    &.yourname {
      color: $medium-gray;
    }
  }
  .thank-you {
    font-style: italic;
  }
}

.lastvideo-block {
  background-color: $green;
  padding: 3rem 0;

  h2 {
    color: $white;
    font-weight: 100;
  }

  a {
    display: inline-block;
    position: relative;

    .v_click {
      position: absolute;
      font-size: 4rem;
      color: $white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}