header {
  height: 700px;
  position: relative;
  background-color: #000;

  @include breakpoint(small down){
    margin-top: 90px;
  }
  
  .marquee-image {
    background-image: url('../images/mom-baby.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 1;
  }

  &.other {
    height: 350px;

    .marquee-image {
      background-image: url('../images/finger-hold.jpg');
    }
  }
  /** OVERRIDE **/
  .grid-container {
    &.nav-container {
      position: relative;
      z-index: 2;
      padding: 0;
      
      @include breakpoint(medium down){
        padding: 0 .9374rem;
      }
      @include breakpoint(small down){
        padding: 0;
        background-color: map-get($pink, alt);
        z-index: 999;
        position: fixed;
        width: 100%;
        top: 0;
      }
      
      .cell {
        
        &.nav {
          display: flex;
          justify-content: flex-end;
          margin-top: 40px;
          
          @include breakpoint(small down){
            margin-top: 15px;
          }
        }
      }
    }
  }
  
  .ebc_logo {
    width: 100%;
    background-color: map-get($pink, alt);
    height: 140px;
    background-image: url('../images/ebc_logo.png');
    background-position-y: center;
    background-position-x: 65%;
    background-repeat: no-repeat;
    background-size: 118px;
    
    @include breakpoint(medium down){
      height: 120px;
      background-size: 90px;
    }
    @include breakpoint(small down){
      height: 90px;
      background-size: 80px;
      background-position-x: 10%;
    }
  }
  
  .mainnav {
    margin: 0;
    
    li {
      color: $white;
      list-style-type: none;
      display: inline-block;
      font-size: 1.2rem;
      margin-left: 2.5rem;
      
      @include breakpoint(medium down){
        font-size: 1.1rem;
        margin-left: 2rem;
      }
      @include breakpoint(small down){
        display: block;
      }

      a {
        color: $white;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
    
    @include breakpoint(small down){
      display: none;
      position: absolute;
      text-align: right;
      background-color: map-get($pink, alt);
      top: 90px;
      width: 100%;
      padding: 0 1rem 1rem 0;
    }
  }
  
  .nav {
    .hamburger {
      .hamburger-inner {
        background-color: $white;
        
        &:before {
          background-color: $white;  
        }
        &:after {
          background-color: $white;
        }
      }
      &.is-active {
        .hamburger-inner {
          background-color: $white; 
        }
      }
    }
  }
}