body {
  @media print {
    header, .action-block1, .action-block2, .petition-block, .share-block, .letter-requirements, .testimonials-block, .lastvideo-block, footer {
      display: none;
    }
    .letter-block {
      h2, hr {
        display: none;
      }
      p {
        display: none;
      }
      .letterreset, .instructions {
        display: none;
      }
      .letterbox {
        display: block;

        .editabletxt {
          p {
            display: block;
            font-size: 1rem;
            line-height: 2rem;

            span {
              border: none;
            }
          }
        }
        .hidden-date {
          display: block;
          font-size: 1rem;
          text-align: right;
          padding: 0;
          margin: 0;
        }
      }
      .copytxt, .printtxt, .govlookup, .copyfunc, .hide-on-print {
        display: none !important;
      }
    }
  }
}

.letter-block {
  @media print {
    display: block;
  }
}
#letterbox {
  @media print {
    display: block;
    background: #fff;
    height: 100%;
    width: 100%;
  }
}
#lookupform {
  @media print {
    display: none !important;
  }
}